body
{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    perspective: 50px;
}
.cuadrado {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.figure
{
    filter: blur(3px);
    border: 1px solid pink;
    width: 80%;
    height: 80%;
    background: black;
    z-index: 2;
}
.blanco
{
    background: white;
    width: 700px;
    height: 10px;
    position: absolute;
    left: 0;
    filter: blur(2px);
    transform: rotateY(45deg);
    transform-origin: left;
    animation-name: extender;
    animation-timing-function:linear;
    animation-duration: 2s;
    z-index: 3;
}
.arcoiris
{
    width: 700px;
    height: 120px;
    position: absolute;
    left: 50%;
    transform: rotateY(-15deg);
    transform-origin: left;
    animation-name: extender2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    filter: blur(2px);
    z-index: 1;
    opacity: 0;
}
.rojo
{
    height: 20px;
    background: red;
}
.amarillo
{
    height: 20px;
    background: yellow;
}
.verde
{
    height: 20px;
    background: green;
}
.celeste
{
    height: 20px;
    background: cyan;
}
.morado
{
    height: 20px;
    background: purple;
}
.rosado
{
    height: 20px;
    background:fuchsia;
    border: 0;
}

@keyframes extender
{
    from
    {
        width: 0;
    }
    to
    {
        width: 700px;
        opacity: 1;
    }
}

